h1{
    font-family: "Berkshire Swash", serif !important;
    font-size: 95px !important;
    line-height: 98px !important;
    font-weight: 400 !important;
    margin-bottom: 24px !important;
}
.wrapper{
    float: left;
    width: 100%;
}
#header-wrapper, #header-wrapper header {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
    background-image: linear-gradient(140deg, #efd7ef 8%, #f5f9fc 39%, #f8eae1 66%, #eaf8f9 91%);

}
#header-sticky-wrapper {
    max-width: 100%;
}
#header {
    background: url(header-pattern.png) repeat scroll 0 0 transparent;
    width: 100%;
    float: left;
    top: 30px;
    z-index: 99999;
    display: block;
    position: absolute;
}
#logo {
    display: inline-block;
    padding: 0;
    top: -10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;  
}
#logo a {
    display: block;
    height: 100%;
}
#menu-container {
    height: 60px;
    width: 100%;
    z-index: 999999;
    text-align: center;
}
#main-menu {
    margin: 0;
    padding: 0;
    max-height: 65px;
    position: relative;
}
#main-menu ul {
    display: inline-block;
    margin: 0 -3px 0 0;
    max-height: 75px;
    padding: 0;
}
#main-menu ul li {
    float: left;
    margin: 0 15px;
    padding: 0;
}
#main-menu .group.left-nav {
    left: 18px;
    position: absolute;
    list-style: none;
}
#main-menu ul li a {
    display: block;
    font-weight: 600;
    padding: 16px 0;
    position: relative;
    color: #575534;  
    font-size: 20px;
    font-family: "Archivo", sans-serif;
}
#main-menu ul li a:hover{
    text-decoration: none;
}
#main-menu .group.right-nav {
    right: 18px;
    position: absolute;
    list-style: none;
}
#main-menu ul .current_page_item > a, #main-menu ul li:hover:hover a{
    color: #d7767b;
}

#main-content {
    float: left;
    padding: 0;
    height: 100%;
    position: relative;
    width: 100%;
}
/* .carousel-inner {
    height: 600px;;
}
.carousel-item {
    position: relative;
    padding: 0;
    margin: 0;
    height: 600px;
}
.carousel-caption {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    top: 20% !important;
    text-align: center !important;
}
.caption1 img {
    width: 400px;
    padding-bottom: 20px;
}
.caption2 img {
    width: 200px;
}
.caption3 img {
    width: 500px;
    position: absolute;
    height: 40px;
    bottom: 45%;
    right: 29%;
}
.caption4 img {
    right:42%;
    width: 200px;
    bottom: 33%;
    position: absolute;
    height: 45px;  
}
.next-caption1 img {
    width: 250px;
}
.next-caption2 img {
    width: 250px;
}
.next-caption3 img {
    width: 210px;
    padding-bottom: 50px;
}
.next-caption4 img {
    width: 190px;
}
.next-caption5 img {
    width: 225px;
}
.nextslide-caption1 img {
    position: absolute;
    left: 100%;
    width: 400px;
    top:-20%;
}
.carousel-caption2 {
    position: absolute !important;
    right: 43% !important;
    bottom: 0 !important;
    left: 0 !important;
    top: 30% !important;
    text-align: center !important;
    
}
.nextslide-caption3 img{
    width: 300px;
    padding-bottom: 20px;
} */
.position-relative {
    position: relative !important;
}
.home1_banner_outer:after {
    content: "";
    width: 100%;
    height: 125px;
    left: 0;
    bottom: 0px;
    position: absolute;
    background-position: bottom;
    background-image: url(banner-backgroundbottomimage.png);
}
.home1_banner_outer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(140deg, #efd7ef 8%, #f5f9fc 39%, #f8eae1 66%, #eaf8f9 91%);
}
.banner-con {
    z-index: 1;
    padding-top: 100px;
    height: 690px;
}
.banner-con .banner_content h3::before {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 64px;
    height: 3px;
    position: absolute;
    background-color: #683292;
}
.banner-con .banner_content h3 {
    width: 355px;
    padding-left: 76px;
    margin-bottom: 14px;
    position: relative;
    font-size: 40px;
    line-height: 36px;
    font-family:"Berkshire Swash", serif !important;
}
.banner_content.aos-init.aos-animate {
    opacity: 1;
    transform: translate(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;
}
 h1 span {
    color: #f83d8e;
}
 p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 32px !important;
    color: #0f0200;
}
 .all_button {
    padding: 23px 37px;
    background-color: #683292;
    box-shadow: 0px 3px 22px 3px rgb(104 50 146 / 31%);
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    color: #fff;
    transition: all 0.8s ease-in-out;
}
a.text-decoration-none.all_button:hover {
    background: #f83d8e;
    color: antiquewhite;
    text-decoration: none;
}
.all_button i {
    font-size: 12px;
    margin-left: 18px;
    transition: all 0.8s ease-in-out;
    color: #ffff;
}
.banner-con .banner-image::before {
    content: "";
    width: 450px;
    height: 450px;
    top: -25px;
    right: -14px;
    border-radius: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #ffffff 10%, transparent);
    z-index: -1;
}
.banner-con .banner-image img {
    width: 450px;
    position: absolute;
    right: -44px;
    top: -20px;
}
.relive-con .relive-rightbottomimage {
    position: absolute;
    right: 32px;
    bottom: 0;
}
.relive-con .relive_wrapper .relive-circle {
    position: absolute;
    left: 0px;
    top: 0px;
}
.relive-con .relive_wrapper .relive-doted {
    position: absolute;
    right: 0px;
    top: 0px;
}
.relive-con .relive_content {
    padding: 70px 0 40px 35px;
}
 h2 {
    margin-bottom: 28px !important;
    font-size: 56px !important;
    line-height: 60px !important;
    font-family: "Berkshire Swash", serif !important;
    font-weight: 400 !important;
}
 h2 span {
    color: #f83d8e;
}
.relive-con .relive_content p {
    line-height: 30px;
    margin-bottom: 32px;
}
.relive-con .relive_content .all_button {
    padding: 23px 39px;
}
.relive-con .relive-image img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
}
.relive-con .relive-image::before {
    content: "";
    width: 450px;
    height: 450px;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    position: absolute;
    background-color:#f6f3f9;
    z-index: -1;
}
.classic-con {
    padding: 100px 0 100px 0;
}
.classic-con::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: linear-gradient(320deg, #efd7ef 8%, #f5f9fc 43%, #f8eae1 64%, #eaf8f9 87%);
}
.classic-con .classic-box {
    padding: 10px 10px 25px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    border: 1px solid transparent;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.classic-con .classic-box .box3 {
    background-color: #ffeeee !important;
}
.classic-con .classic-box .box2 {
    background-color: #f7f2f7 !important;
}
.classic-con .classic-box .box4 {
    background-color: #f6f9e1 !important;
}
.classic-con .classic-box .box1 {
    background-color: #fffaf4 !important;
}
.classic-con .owl-stage-outer{
    overflow: hidden;
}
.classic-con .owl-stage {
    display: flex;
}
.classic-con .classic-box .classic_image_box {
    min-height: 244px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
}
.classic-con .classic-box .classic_image_box figure {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.classic-con .classic-box .classic_image_box figure img {
    transition: all 0.3s ease-in-out;
}
.classic-con .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.classic-con .classic-box .classic_image_box i {
    font-size: 18px;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    color: #0f0200;
    background-color: #ffffff;
}
.classic-con .classic-box .classic_box_content {
    padding: 20px 8px 4px 12px;
}
.classic-con .classic-box p {
    margin-bottom: 0px !important;
}
.text-size-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #646464;
}
.classic-con .classic-box .price_wrapper {
    display: flex;
    align-items: center;
}
.classic-con .classic-box h6 {
    margin-bottom: 10px;
    width: 160px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #0f0200;
}
.classic-con .classic-box .rating {
    position: absolute;
    top: 0;
    right: 0;
}
.classic-con .classic-box .rating i {
    font-size: 12px;
    line-height: 12px;
    color: #fbab2a;
}
.classic-con .classic-box .rating span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #0f0200;
}
.special-con {
    padding: 100px 0 0px;
    background-color: #683292;
}
.special-con::before {
    content: "";
    position: absolute;
    width: 51%;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(special-rightbackground.png);
}
.special-con .special_content h2 {
    font-size: 112px !important;
    line-height: 112px !important;
    margin-bottom: 40px !important;
}
.special-con .special_content p {
    font-size: 30px !important;
    line-height: 30px !important;
    margin-bottom: 36px !important;
}
.special_content a.text-decoration-none.all_button.get_started {
    background-color: #f83d8e;
}
.special-con .special_content span {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
.special-con .special_wrapper .special-dotedarrow {
    position: absolute;
    left: 10px;
    top: -42px !important;
}
.special-con .special_wrapper .content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: table-cell;
    align-content: center;
}
.special-con .special_wrapper .persent {
    font-size: 44px;
    line-height: 44px;
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
.special-con .special_wrapper .circle-text {
    left: -58px;
    top: 40px;
    width: 138px;
    height: 138px;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    background-image: linear-gradient(180deg, #fbab2a 0%, #ffc972 100%);
    border: 4px solid #f69c0c;
}
.special-con .special_wrapper .text {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
.journey-con .journey_wrapper .journey-image img {
    border-radius: 100%;
}
section.journey-con.position-relative{
    padding-bottom: 100px;
}
.team-con {
    padding: 142px 0 0px;
}
.team-con  .carousel-inner {
    height: 600px;
    display: flex;
}
.team-con a.carousel-control-prev {
    width: 50px;
    height: 50px;
    left: -55px;
    top: 144px;
    background-color: #683292;
    border-radius: 100%;
}
.team-con a.carousel-control-next {
    width: 50px;
    height: 50px;
    right: -55px;
    top: 144px;
    background-color:#683292;
    border-radius: 100%;
}
.team-con .item {
    position: relative;
    padding: 30px;
    margin: 0;
}
.team-box {
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.team-box figure {
    width: 314px;
    height: 314px;
    margin: 0 auto 32px;
    border-radius: 100%;
    overflow: hidden;
}
.team-box figure img {
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}
 .team-box span {
    display: block;
    margin-bottom: 16px;
}
.team-box h5 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
}
.team-box li:first-child {
    margin-left: 0;
}
 .team-box li {
    margin: 0 3px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.team-box i {
    font-size: 16px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    background-color: #f83d8e;
    transition: all 0.8s ease-in-out;
}
.text-size-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:black;
}
.faq-con {
    padding: 0px 0 150px;
}
.faq-con .accordian-inner .card-header {
    padding: 0;
    margin-bottom: 0;
    background: none;
    border: none;
}
.faq-con .accordion-card a.btn.btn-link:focus {
    outline: none;
    box-shadow: none;
}
.faq-con .accordion-card .btn-link:before {
    content: "\f062";
    font-size: 15px;
    top: 20px;
    right: 22px;
    position: absolute;
    font-family: 'FontAwesome';
    color: #f83d8e;
}
.faq-con .accordian-inner .card-body {
    padding: 0 26px 20px;
}
.faq-con .accordion-card .collapsed h5 {
    color: #0f0200ac;
}
.faq-con .accordion-card:has(.collapsed) {
    border: 1px solid #ffffff;
}
.faq-con .accordion-card:has(.btn-link) {
    border: 1px solid #f83d8e;
}
.faq-con .accordian-inner .card-header {
    padding: 0;
    margin-bottom: 0;
    background: none;
    border: none;
}
.faq-con .accordion-card {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 73px 2px rgb(0 0 0 / 4%);
}
.faq-con .accordion-card a.btn.btn-link {
    position: relative;
}
.faq-con .accordian-inner .card-header a {
    padding: 20px 26px;
}
.faq-con h5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.faq-con .accordion-card .collapsed:before {
    content: "\f061";
    color: #0f0200;
}
.faq-con .accordion-card .btn-link h5 {
    color:#f83d8e ;
}
.faq-con .accordian-inner .accordion-card .btn {
    text-decoration: none;
    text-align: left;
    display: block;
    border-radius: 10px;
}
.contact-con .contact-box .icon {
    width: 75px;
    height: 75px;
    line-height: 75px;
    top: 3px;
    float: left;
    position: relative;
    border-radius: 100%;
    text-align: center;
    background-color: #683292;
    transition: all 0.3s ease-in-out;
}
.contact-con {
    padding: 0px 0 150px;
}
.contact-con .contact-box .content {
    padding-left: 105px;
}
.contact-con .contact_form {
    padding-left: 44px;
}
.contact-con .contact_form .input1 {
    float: left;
    margin-right: 26px;
}
.contact-con .contact_form label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 18px;
    display: block;
    color: #646464;
}
.contact-con .contact_form input, .contact-con .contact_form textarea {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    height: 51px;
    width: 330px;
    padding: 10px 10px 10px 26px;
    color: #646464;
    background-color: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 25px;
    overflow: visible;
    outline: none;
}
.contact-con .contact_form textarea {
    width: 100% !important;
    height: 145px !important;
}
.contact-con .contact_form .form-group {
    margin-bottom: 22px;
}
.contact-con .content h6{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #0f0200;
}
.contact-con .contact-box a {
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.text-size-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #646464;
}
.contact-con .contact-box {
    padding: 35px 15px 40px 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 73px 2px rgb(0 0 0 / 5%);
    background-color: var(--e-global-color-white);
    border: 1px solid var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}

.footer-con {
    background: #683292;
}
.footer-con .footer-image {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer-con .footer-image img {
    opacity: 10%;
}
.footer-con .middle_portion {
    padding: 100px 0 90px;
}
.footer-con .middle_portion .links {
    padding-left: 54px;
}
.footer-con .middle_portion .links h5 {
    margin-bottom: 25px;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
}
.footer-con .middle_portion .links .pages {
    display: flex;
}
.footer-con .middle_portion .pages .list1 {
    padding-right: 48px;
}
.footer-con .middle_portion .links li {
    cursor: pointer;
    margin-bottom: 14px;
}
.footer-con .middle_portion .links i {
    font-size: 5px;
    line-height: 5px;
    top: -3px;
    position: relative;
    color: #f83d8e;
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .links a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 13px;
    text-decoration: none;
    color: #CFB6E1;
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .info {
    padding-left: 56px;
}
.footer-con .middle_portion .info li {
    display: flex;
    margin-bottom: 24px;
}
.footer-con .middle_portion .info i {
    font-size: 16px;
    height: 46px;
    width: 46px;
    line-height: 46px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    color: #fff;
    background-color: rgba(255, 255, 255, 10%);
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .info i {
    font-size: 16px;
    height: 46px;
    width: 46px;
    line-height: 46px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    color: #fff;
    background-color: rgba(255, 255, 255, 10%);
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .info .text {
    padding: 2px 0 0 68px;
    position: relative;
}
.footer-con .middle_portion .info span {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #fff;
}
.footer-con .middle_portion .info a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    color: #cfb6e2;
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .icon {
    padding-left: 20px;
}
.footer-con .middle_portion .phone_wrapper {
    margin-bottom: 30px;
}
.footer-con .middle_portion .phone_wrapper i {
    font-size: 30px;
    top: 4px;
    float: left;
    position: relative;
    color: #fff;
}
.footer-con .middle_portion .phone_wrapper .phone_content {
    padding-left: 48px;
}
.footer-con .middle_portion .phone_wrapper a {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .phone_wrapper span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    color: #cfb6e2;
}
.footer-con .middle_portion .social-icons li {
    margin: 0 6px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.footer-con .middle_portion .social-icons a {
    margin-left: 0 !important;
}
.footer-con .middle_portion .social-icons i {
    font-size: 16px;
    height: 46px;
    width: 46px;
    line-height: 46px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 10%);
    transition: all 0.3s ease-in-out;
}
.footer-con .copyright p {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding: 18px 0;
    text-align: center;
    color: #cfb6e2;
    border-top: 1px solid rgb(255 255 255 / 15%);
}
@media (max-width: 1024px) {
.container{
    width: 710px;
}
#main-menu ul li a {
    font-size: 14px;
}
#main-menu ul li {
    margin: 0 15px 0 0;
}
.responsive-nav {
    display: none;
}
.caption3 img{
    right: 23%;
    bottom: 35%;
}
.caption4 img{
    right: 40%;
    bottom: 18%;
}
.nextslide-caption1 img {
    width: 374px;
    top: -20%;
}
}
@media (max-width: 768px) {
    .nextslide-caption1 img {
        width: 279px;
    }
}